@import "./comp/colors";
*{
   padding:0;
   margin:0;
   box-sizing: border-box;
   list-style: none;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
   color:var(--prm-clr);
   font-weight: 600;
   letter-spacing: 0.08rem;
}

html,body,main, #__next{
   min-height: 100%;
}

html{
   font-size:62.5%;
}
body{
   background:var(--body-bg);
   max-width:200rem;
   margin-inline: auto;
}


a{
   text-decoration: none;
   // color:rgb(255, 102, 0);
}
li{
   font-size:clamp(1.6rem,1.7rem,1.7vw);
   padding:1rem;
   color:var(--accent-clr);
   cursor:pointer;
   transition: background 0.3s,border-radius 0.3s;
}
h2{
   color:var(--prm-clr);
   font-weight: 400;
}
.profit{
   color:var(--profit-clr);
}
.lose{
   color:var(--lose-clr);
}
.flex{
   display:flex;
   align-items: center;
}

.MuiPagination-ul li button{
   font-size:clamp(1.4rem,1.5rem,1.5vw) !important;
}